[submodule "CakeBrah"]
	path = CakeBrah
	url = https://github.com/mid-kid/CakeBrah.git
[submodule "CakeHax"]
	path = CakeHax
	url = https://github.com/mid-kid/CakeHax.git
[submodule "2xrsa"]
	path = 2xrsa
	url = https://github.com/b1l1s/2xrsa.git
